In [40]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('football+players+data.csv')
df.head()

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,...,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,Left,...,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,NaN,2021,5'7,159lbs,�226.5M
1,1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,Right,...,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,NaN,2022,6'2,183lbs,�127.1M
2,2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,Right,...,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,NaN,2022,5'9,150lbs,�228.1M
3,3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,Right,...,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,NaN,2020,6'4,168lbs,�138.6M
4,4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,Right,...,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,NaN,2023,5'11,154lbs,�196.4M

In [42]:
df.drop('Unnamed: 0',axis = 1,inplace = True)

In [43]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,...,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,Left,5.0,...,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,NaN,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,Right,5.0,...,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,NaN,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,Right,5.0,...,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,NaN,2022,5'9,150lbs,�228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,Right,4.0,...,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,NaN,2020,6'4,168lbs,�138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,Right,4.0,...,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,NaN,2023,5'11,154lbs,�196.4M

In [44]:
df.shape

(18207, 25)

In [45]:
df.isnull().sum() / len(df) * 100

ID                           0.000000
Name                         0.000000
Age                          0.000000
Nationality                  0.000000
Overall                      0.000000
Potential                    0.000000
Club                         1.323667
Value                        0.000000
Wage                         0.000000
Special                      0.000000
Preferred Foot               0.263635
International Reputation     0.263635
Weak Foot                    0.263635
Skill Moves                  0.263635
Work Rate                    0.263635
Body Type                    0.263635
Real Face                    0.263635
Position                     0.329544
Jersey Number                0.329544
Joined                       8.529686
Loaned From                 93.057615
Contract Valid Until         1.587302
Height                       0.263635
Weight                       0.263635
Release Clause               8.590103
dtype: float64

In [46]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,...,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Loaned From,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,Left,5.0,...,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,NaN,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,Right,5.0,...,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,NaN,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,Right,5.0,...,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,NaN,2022,5'9,150lbs,�228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,Right,4.0,...,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,NaN,2020,6'4,168lbs,�138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,Right,4.0,...,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,NaN,2023,5'11,154lbs,�196.4M

In [47]:
df.drop('Loaned From',axis = 1,inplace = True)  # As it has 93% null values

In [48]:
df.isnull().sum() / len(df)

ID                          0.000000
Name                        0.000000
Age                         0.000000
Nationality                 0.000000
Overall                     0.000000
Potential                   0.000000
Club                        0.013237
Value                       0.000000
Wage                        0.000000
Special                     0.000000
Preferred Foot              0.002636
International Reputation    0.002636
Weak Foot                   0.002636
Skill Moves                 0.002636
Work Rate                   0.002636
Body Type                   0.002636
Real Face                   0.002636
Position                    0.003295
Jersey Number               0.003295
Joined                      0.085297
Contract Valid Until        0.015873
Height                      0.002636
Weight                      0.002636
Release Clause              0.085901
dtype: float64

In [49]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,2022,5'9,150lbs,�228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,2020,6'4,168lbs,�138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,2023,5'11,154lbs,�196.4M

In [50]:
df.dropna(subset=['Club','Preferred Foot','International Reputation','Weak Foot','Skill Moves','Work Rate','Body Type','Real Face','Position','Jersey Number','Joined','Contract Valid Until','Height','Weight','Release Clause'],inplace = True)

In [51]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,�110.5M,�565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,�77M,�405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,�118.5M,�290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,2022,5'9,150lbs,�228.1M
3,193080,De Gea,27,Spain,91,93,Manchester United,�72M,�260K,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,2020,6'4,168lbs,�138.6M
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,�102M,�355K,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,2023,5'11,154lbs,�196.4M

In [52]:
df.isna().sum()

ID                          0
Name                        0
Age                         0
Nationality                 0
Overall                     0
Potential                   0
Club                        0
Value                       0
Wage                        0
Special                     0
Preferred Foot              0
International Reputation    0
Weak Foot                   0
Skill Moves                 0
Work Rate                   0
Body Type                   0
Real Face                   0
Position                    0
Jersey Number               0
Joined                      0
Contract Valid Until        0
Height                      0
Weight                      0
Release Clause              0
dtype: int64

In [53]:
df['Contract Valid Until'].value_counts()

2019    4814
2021    4358
2020    4027
2022    1475
2023    1051
2018     886
2024      23
2025       7
2026       2
Name: Contract Valid Until, dtype: int64

## Cleaning the column 'value'

In [54]:
df['Value']=df['Value'].str.replace('�','')

In [55]:
def cleanFunc(x):
    if x[-1] == 'M':
        x = x[:-1]+'*1000000'
        return eval(x)
    elif x[-1] == 'K':
        x = x[:-1]+'*1000'
        return eval(x)

In [56]:
df['Value'] = df['Value'].apply(cleanFunc)

In [57]:
df['Value'].head()

0    110500000.0
1     77000000.0
2    118500000.0
3     72000000.0
4    102000000.0
Name: Value, dtype: float64

In [58]:
pd.set_option('display.max_columns',df.shape[1])

In [59]:
df.head(3)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,�565K,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,2021,5'7,159lbs,�226.5M
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,�405K,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,2022,6'2,183lbs,�127.1M
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,�290K,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,2022,5'9,150lbs,�228.1M

## Cleaning column 'Wage'

In [60]:
df['Wage']=df['Wage'].str.replace('�','')

In [61]:
df['Wage'] = df['Wage'].apply(cleanFunc)

In [62]:
df['Wage'].head()

0    565000
1    405000
2    290000
3    260000
4    355000
Name: Wage, dtype: int64

## Cleaning column 'Release Clause'

In [63]:
df['Release Clause']=df['Release Clause'].str.replace('�','')

In [64]:
df['Release Clause'] = df['Release Clause'].apply(cleanFunc)

In [65]:
df['Release Clause'].head()

0    226500000.0
1    127100000.0
2    228100000.0
3    138600000.0
4    196400000.0
Name: Release Clause, dtype: float64

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16643 entries, 0 to 18206
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        16643 non-null  int64
 1   Name                      16643 non-null  object
 2   Age                       16643 non-null  int64
 3   Nationality               16643 non-null  object
 4   Overall                   16643 non-null  int64
 5   Potential                 16643 non-null  int64
 6   Club                      16643 non-null  object
 7   Value                     16643 non-null  float64
 8   Wage                      16643 non-null  int64
 9   Special                   16643 non-null  int64
 10  Preferred Foot            16643 non-null  object
 11  International Reputation  16643 non-null  float64
 12  Weak Foot                 16643 non-null  float64
 13  Skill Moves               16643 non-null  float64
 14  Work Rate                 16643 non-null  object
 15  Body Type                 16643 non-null  object
 16  Real Face                 16643 non-null  object
 17  Position                  16643 non-null  object
 18  Jersey Number             16643 non-null  float64
 19  Joined                    16643 non-null  object
 20  Contract Valid Until      16643 non-null  object
 21  Height                    16643 non-null  object
 22  Weight                    16643 non-null  object
 23  Release Clause            16643 non-null  float64
dtypes: float64(6), int64(6), object(12)
memory usage: 3.2+ MB

In [68]:
def replace_Joined(x):
    if int(x[-2:])<=22:
        return '20' + x[-2:]
    else:
        return '19' + x[-2:]

In [69]:
replace_Joined('15-Jul-95')

'1995'

In [70]:
df['Joined'] = df['Joined'].apply(replace_Joined)

In [37]:
df['Joined'].head()

0    2004
1    2018
2    2017
3    2011
4    2015
Name: Joined, dtype: object

In [71]:
df.groupby('Joined')['ID'].size()

Joined
1991       1
1998       3
1999       1
2000       2
2001       2
2002       8
2003      13
2004      12
2005      17
2006      18
2007      38
2008      53
2009      78
2010     131
2011     199
2012     339
2013     458
2014     818
2015    1336
2016    2245
2017    4305
2018    6566
Name: ID, dtype: int64

In [72]:
df.head(3)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,2004,2021,5'7,159lbs,226500000.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,2018,2022,6'2,183lbs,127100000.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,2017,2022,5'9,150lbs,228100000.0

In [73]:
df.to_csv('tabl.csv')

In [83]:
df.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500000.0,565000,2202,Left,5.0,4.0,4.0,Medium/ Medium,Messi,Yes,RF,10.0,01-Jul-04,2021,5'7,159lbs,226500000.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000000.0,405000,2228,Right,5.0,4.0,5.0,High/ Low,C. Ronaldo,Yes,ST,7.0,10-Jul-18,2022,6'2,183lbs,127100000.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500000.0,290000,2143,Right,5.0,5.0,5.0,High/ Medium,Neymar,Yes,LW,10.0,03-Aug-17,2022,5'9,150lbs,228100000.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,2020,6'4,168lbs,138600000.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000000.0,355000,2281,Right,4.0,5.0,4.0,High/ High,Normal,Yes,RCM,7.0,30-Aug-15,2023,5'11,154lbs,196400000.0

In [84]:
df[df['Contract Valid Until'] == '2020']

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Special,Preferred Foot,International Reputation,Weak Foot,Skill Moves,Work Rate,Body Type,Real Face,Position,Jersey Number,Joined,Contract Valid Until,Height,Weight,Release Clause
3,193080,De Gea,27,Spain,91,93,Manchester United,72000000.0,260000,1471,Right,4.0,3.0,1.0,Medium/ Medium,Lean,Yes,GK,1.0,01-Jul-11,2020,6'4,168lbs,138600000.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000000.0,340000,2142,Right,4.0,4.0,4.0,High/ Medium,Normal,Yes,LF,10.0,01-Jul-12,2020,5'8,163lbs,172100000.0
6,177003,L. Modri?,32,Croatia,91,91,Real Madrid,67000000.0,420000,2280,Right,4.0,4.0,4.0,High/ High,Lean,Yes,RCM,10.0,01-Aug-12,2020,5'8,146lbs,137400000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000000.0,380000,2201,Right,4.0,3.0,3.0,High/ Medium,Normal,Yes,RCB,15.0,01-Aug-05,2020,6'0,181lbs,104600000.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000000.0,285000,2115,Left,4.0,2.0,4.0,High/ Medium,Normal,Yes,LCM,21.0,14-Jul-10,2020,5'8,148lbs,111000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18166,243621,N. Ay�va,16,Sweden,48,72,�rebro SK,70000.0,1000,1286,Right,1.0,3.0,2.0,Medium/ Medium,Normal,No,ST,23.0,18-May-18,2020,5'10,154lbs,158000.0
18179,246243,J. Williams,17,England,48,64,Northampton Town,50000.0,1000,1166,Right,1.0,3.0,2.0,Medium/ Medium,Lean,No,CB,31.0,01-Jul-18,2020,6'2,163lbs,119000.0
18187,240158,C. Ehlich,19,Germany,47,59,SpVgg Unterhaching,40000.0,1000,1366,Right,1.0,3.0,2.0,High/ Medium,Lean,No,RB,33.0,01-Jul-17,2020,5'10,161lbs,66000.0
18189,240160,A. Kaltner,18,Germany,47,61,SpVgg Unterhaching,60000.0,1000,1290,Right,1.0,3.0,2.0,Medium/ Medium,Lean,No,ST,24.0,01-Jul-17,2020,5'10,165lbs,125000.0
18203,243165,N. Christoffersson,19,Sweden,47,63,Trelleborgs FF,60000.0,1000,1098,Right,1.0,2.0,2.0,Medium/ Medium,Normal,No,ST,21.0,19-Mar-18,2020,6'3,170lbs,113000.0

In [28]:
df.groupby('Nationality')['ID'].size().sort_values(ascending = False)

Nationality
England          1475
Germany          1151
Spain             974
France            853
Argentina         833
                 ...
Grenada             1
Puerto Rico         1
Mauritius           1
Qatar               1
New Caledonia       1
Name: ID, Length: 161, dtype: int64

In [74]:
df['Body Type'].value_counts()

Normal                 9731
Lean                   5856
Stocky                 1049
C. Ronaldo                1
Neymar                    1
Messi                     1
Courtois                  1
PLAYER_BODY_TYPE_25       1
Akinfenwa                 1
Shaqiri                   1
Name: Body Type, dtype: int64